.header {
    text-decoration: none;
    display: inline-block;
}

.header ul a {
    text-decoration: none;
    color: black;
}

.hd-left ul {
    position: fixed;
    top: 0;
    left: 0;
}

.nav li {
    display: inline-block;
    margin-left: 10px;
}


.hd-right ul {
    position: fixed;
    top: 0;
    right: 0;
}

.rt-nav li {
    display:inline-block;
    padding-right: 10px;
}

#signbutton {
    padding: 10px 25px;
    margin-right: 10px;
    background-color: blue;
}

/*IMAGE*/

.search-box {
    text-align: center;
}

img {
    padding-top: 109px;
}

/* SEARCH BOX */
.form input {
    padding-top: 6px;
    border-radius: 50px;
    line-height: .5em;
    text-align: left;
}